# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=powershield

# Server Configuration
NODE_ENV=development
PORT=5001

# Add any other environment variables your application needs
